body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 80vh;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
}
